# Ignore everything
**

# Allow required files
!./*.py
!./pyproject.toml
!./poetry.lock
!./.env
!./command.sh
!./alembic.ini
!./app
!./protobuf/*.proto
!./protobuf/protowrap.py
!./migration
!./utils
!./public
!./src
!./*.js
!./*.json
!./.eslint*
!./.prettier*

**/__pycache__*
./src/lang/*.json
*.sqlite3
