.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
[Ss]hare
pyvenv.cfg
poetry.lock
__pycache__
*.cfg
*.code-workspace
.venv
.vscode
.vim
pip-selfcheck.json
protobuf/*
!protobuf/*.proto
!protobuf/protowrap.py
src/plugins/protobuf/

*.sqlite3
.env
tmp*

# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

*~
*.sw[mnpcod]
.tmp
*.tmp
*.tmp.*
*.sublime-project
*.sublime-workspace
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/

*.log
log.txt
npm-debug.log*

/.idea
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/android
/ios
/node_modules
/platforms
/plugins
/www
